<div class="panel pinned_panel">
    <header>
        <span>
            <input type="checkbox" :checked="description" @change="$emit('update:description', $event.target.checked)"
                id="description_cb" name="description">
            <label for="description_cb">Description</label>
        </span>
        <span>
            <input type="checkbox" :checked="showEffects" @change="$emit('update:showEffects', $event.target.checked)"
                id="effects_cb" name="effects">
            <label for="effects_cb">Effects</label>
        </span>
        <span>
            <input type="checkbox" :checked="showModules" @change="$emit('update:showModules', $event.target.checked)"
                id="modules_cb" name="modules">
            <label for="modules_cb">Modules</label>
        </span>
    </header>
    <tech-summary title="Pinned" :projects="pinnedTechnologies" :tree="tree" mode="recursive"
        @clear="$emit('clear-pinned')" />
    <ul>
        <tech-card v-for="project in pinnedTechnologies" :key="project.dataName" :project="project" :tree="tree"
            :effects="effects" :modules="modules" :orgs="orgs" :description="description" :show-effects="showEffects"
            :show-modules="showModules" :is-pinned="true" @toggle-known="$emit('toggle-known', project.dataName)"
            @unpin="$emit('unpin', project.dataName)" @jump-to-tech="$emit('jump-to-tech', $event)" />
    </ul>
</div>