<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Technologies breakdown - Terra Invicta</title>

    <meta name="description" content="A different view of the Terra Invicta technology tree.">
    <meta name="author" content="SitePoint">
    <meta property="og:title" content="Technologies breakdown - Terra Invicta">
    <meta property="og:description" content="A different view of the Terra Invicta technology tree.">

    <link rel="icon" href="img/favicon.png">
    <link rel="icon" href="img/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="styles.css?v=1.0">
</head>

<body>
    <div id="app">
        <div class="panel left_panel">
            <header>
                <input type="search" v-model="search" placeholder="filter by name...">
                <input type="submit" @click="loadSave" value="Load game save">
                <input type="submit" @click="show_cp = !show_cp" :value="show_cp ? 'Show Roles' : 'CP Techs'">
                <input type="submit" @click="open('img/help.png')" value="Help!">
            </header>
            <h1 v-if="show_cp">CP Efficiency (Total Cost / CP)</h1>
            <h1 v-else>Available Techs</h1>
            <ul v-if="!loading && show_cp">
                <tech-card v-for="{ tech, cpStats } in cpTechnologies" :key="tech.dataName" :project="tech" :tree="tree"
                    :effects="effects" :modules="modules" :orgs="orgs" :show-content="tech.show"
                    :description="description" :show-effects="show_effects" :is-pinned="pinned.includes(tech.dataName)"
                    :cp-efficiency-mode="true" @toggle-show="tech.show = !tech.show"
                    @toggle-known="toggleKnown(tech.dataName)" @pin="pin(tech.dataName)" @unpin="unpin(tech.dataName)"
                    @jump-to-tech="jumpToTech"></tech-card>
            </ul>
            <tech-roles v-else-if="!loading" :technologies="technologies" :tree="tree" :effects="effects"
                :modules="modules" :orgs="orgs" :opened="opened" :description="description" :show-effects="show_effects"
                :pinned="pinned" @toggle-role="toggle" @toggle-known="toggleKnown" @pin="pin" @unpin="unpin"
                @jump-to-tech="jumpToTech"></tech-roles>
        </div>
        <tech-pinned v-if="!loading" :pinned="pinned" :tree="tree" :effects="effects" :modules="modules" :orgs="orgs"
            v-model:description="description" v-model:show-effects="show_effects" @toggle-known="toggleKnown"
            @unpin="unpin" @jump-to-tech="jumpToTech" @clear-pinned="clearPinned"></tech-pinned>

        <tech-known v-if="!loading" :tree="tree" :effects="effects" :modules="modules" :orgs="orgs"
            :description="description" :show-effects="show_effects" :pinned="pinned" @toggle-known="toggleKnown"
            @pin="pin" @unpin="unpin" @jump-to-tech="jumpToTech" @clear-known="clearKnown"></tech-known>
    </div>

    <script src="https://unpkg.com/pako@2/dist/pako.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/parser.js"></script>
    <script src="js/effects.js"></script>
    <script src="js/modules.js"></script>
    <script src="js/orgs.js"></script>
    <script src="js/tree.js"></script>
    <script src="components/tech-card.js"></script>
    <script src="components/tech-roles.js"></script>
    <script src="components/tech-pinned.js"></script>
    <script src="components/tech-summary.js"></script>
    <script src="components/tech-known.js"></script>
    <script src="js/vue.js"></script>
</body>

</html>